html
    head 
        title Main page 
    body 
        h1 Main page
        h2= imgSrc
        img(src="/cloneTest.jpg")
        div 
            each val in arrTest
                div 
                    h1= val 
                    p= "Content" + val